@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Oxygen:wght@700&family=Poppins:wght@700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(230,230,230);
  color: #27173e;
  line-height: 24px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color:#5e5ba9;
  line-height: 24px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color:#af96da;
}

a:hover {
  color: #27173e;
}

img {
  width:100px;
}
